<!DOCTYPE html>
<html>
  <head>
    <title>ServerApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= yield %>

    <nav class="navbar fixed-bottom navbar-default" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <%= link_to cpp_path, class: "navbar-brand" do %>
          <!--ADD ICON TO CPP PAGE-->
          <%end%>
        </div>
      </div>
    </nav>
  </body>
</html>
